*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}


.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

